#search-col {
    text-align: left;
}

#search-btn {
    width: auto;
}

#forecast {
    visibility: hidden;
}

#five-forecast {
    visibility: hidden;
    justify-content: space-around;
}

.bg-light {
    width: fit-content;
}